.notFoundIconBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notFoundIcon{
    max-width: 200px;
    max-height: 200px;
}
.notFoundMainText{
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    margin: 15px;
}
.notFoundText{
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    margin: 15px;
}
.notFoundSecondaryText{
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    margin: 15px;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .notFoundIcon {
        width:  100%;
        height: 100%;
    }

}